<div class="role-selector-container">
  <div class="">
    <h1>Select a User Role</h1>
  </div>
  <div>
    <mat-form-field>
      <mat-label>User Role</mat-label>
      <mat-select [(ngModel)]="selectedRole">
        <mat-option *ngFor="let role of roleList" [value]="role.value">{{role.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-fab extended [disabled]="!selectedRole" color="primary">
      <mat-icon>arrow_forward</mat-icon>
      Next
    </button>
  </div>
</div>
